.item {
  margin: 1.5rem 0;
}

.post_header {
  display: grid;
  grid-template-columns: 50px 100fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 20px;
  justify-content: stretch;
  align-items: start;
}

.icon {
  grid-row: 1;
}

.author {
  grid-row: 1;
}

.date {
  grid-row: 1;
}

.content {
  text-align: left;
  padding: 1rem;
}

.actions {
  padding: 0.5rem 0;
  text-align: center;
}

.actionss button {
  font: inherit;
  cursor: pointer;
  color: #630a10;
  border: 1px solid #630a10;
  background-color: transparent;
  padding: 0.3rem 1rem;
  border-radius: 4px;
}

.actionss button:hover,
.actionss button:active {
  background-color: #630a10;
  color: white;
}
